.checkout__container {

  width: 100%;
  padding-top: 70px;


  display: flex;
  justify-content: center;
  background: white;

}



.checkout__container .checkout__left {
  width: 70%;
  /* background-color: blueviolet; */
}

