.checkout__container {

  width: 100%;
  margin: 70px 10px 20px;

  display: flex;

}

.checkoutProduct__title {
  width: 850px;
}

.checkout__container .checkout__left {
  width: 80%;
  /* background-color: blueviolet; */
}