.checkout__container {

  width: 100%;
  padding-top: 70px;


  display: flex;
  justify-content: center;
  background: white;

}



.checkout__container .checkout__left {
  width: 70%;
}
.checkout__container .checkout__right {
  width: 30%;
}

@media only screen and (max-width: 768px) {
.checkout__container {
display: block;
padding: 0;
}
.checkout__container .checkout__left  {
  width: 100%;
  margin-bottom: 30%;
}
.checkout__container .checkout__right {
  position: sticky;
  top:84%;
  left:0;
  width: 100%;
   }

 }
