.container {
  max-width: 1500px;
  padding: 20px;
  max-height: 600px;

}

.slick-slide img {
   width: 100%;
    z-index: -100;
    /* margin-top:25px !important; */
    margin-bottom: -150px;
    mask-image: linear-gradient(to bottom, rgba(0,0,0,1),rgba(0,0,0,0.8));
  }


  .slick-next{
    width: 115px !important;
    z-index: 10 !important;

  }
  .slick-prev {
    width: 115px !important;
    z-index: 10 !important;
  }
  .slick-prev:before, .slick-next:before {
    font-size: 50px !important;
    opacity: 1 !important;


  }
  .topsellercarousel  {
    background-color: white;
  }

.topsellercarousel .slick-slide  img {
 object-fit: fill !important;
  width: auto!important;;
  height: auto!important;;
  max-width: 270px!important;;
  max-height: 200px!important;;
  vertical-align: middle!important;;

}