.admin {
  width: 100%;
  pa
}
.admin__header {
  width: 100%;
display: flex;

  color : white;
  background-color: black;
}
.admin__header--logo {
  width: 20%;

}

.admin__header--infor {
  width: 80%;
  display:flex;
  justify-content: space-between;
}

