 .footer__container {
  width: 100%;
  margin-top: 10px;
  background-color: #232F3E;
  height: 300px;

 }
 .footer__backtotop {
  /* padding: 10px; */
  width: 100%;
  background-color: #37475A;
  display:flex;
  justify-content: center;
 }
 .footer__backtotop span {
  padding: 5px 70px;
 }
.footer__backtotop a {
  text-decoration: none;
  color:white;
  font-size: 20px;


}
.footer__middle {
  background-color: #232F3E;
}
.footer__top {
  background-color: black;

}
@media only screen and (max-width: 768px) {
  .footer__container {

    margin-top: 31px;
    max-height: 200px;
  }

  .footer__middle {
}

}