.header__search {

  display:  flex;
  flex: 1;
  align-items: center;
/*  */
position: relative;
}
.header__searchOption  {
  color:black;
  font-size: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 25px;
  padding: 10px 5px 10px;
  background-color:gray;
  border-radius: 5px 0 0 5px;
}
.header__searchOption > span {
  width:3rem;
  text-align: center;
}


.header__searchIcon {
  width: 42px !important;
  height: 25px !important;
  background-color: #cd9042;
  border-radius: 0 5px 5px 0;
  color:Black !important
}
.header__searchInput {

  height: 25px;
  padding: 10px;
  border: none;
  width: 100%;
}

.header__searchResult {
  position: absolute;
  top: 39px;
  left: 0;
z-index: 999;
  width: 100%;
  max-height: 210px;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%);
  border-radius: 0 0 10px 10px;
  overflow: hidden;
}

.header__searchResult li {
  font-size: 14px;
  padding: 10px 33px 10px 11px;
  list-style: none;


}
.header__searchResult li:hover {
  background-color: #f7f7f7;
}
@media only screen and (max-width: 768px) {}

