.header__search {

  display:  flex;
  flex: 1;
  align-items: center;
/*  */

}
.header__searchOption  {
  color:black;
  font-size: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 25px;
  padding: 10px 5px 10px;
  background-color:gray;
  border-radius: 5px 0 0 5px;
}
.header__searchOption > span {
  width:3rem;
  text-align: center;
}


.header__searchIcon {
  width: 42px !important;
  height: 25px !important;
  background-color: #cd9042;
  border-radius: 0 5px 5px 0;
  color:Black !important
}
.header__searchInput {
  height: 25px;
  padding: 10px;
  border: none;
  width: 100%;
  position: relative;
}

.header__searchResult {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;

  background-color: white;
  border-radius: 0 0 10px 10px;
  overflow: hidden;
}

.header__searchResult li {
  font-size: 14px;
  padding: 5px 33px 10px 11px;
  list-style: none;
}
.header__searchResult li:hover {
  background-color: #f7f7f7;
}