.AddToCartColumnList {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: white;
  border-bottom: 1px solid #FFFFFF;
}
.AddToCartColumnList img {
width: 100%;
}
.AddToCartColumnList__incdec {
  margin: 10px auto;
  width: 85px;


}