.sort__column {
  padding: 5px 20px;
  border: none;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  font-size: 15px;
  margin: 10px 0 20px 0;
  outline: none;
}
@media only screen and (max-width: 768px) {
  .sort__column {
    padding: 2px 15px;
    border: none;
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%);
    font-size: 10px;
    outline: none;
}

  }
