.headsets{
 margin-top: 100px;

}
.headsets__container {
  display: flex;
  justify-content: center
}
.section-card {
  display: grid;
  grid-template-columns: auto auto auto auto ;

  padding: 20px;
  gap: 20px;
}
.headsets__optionsleft {
  margin-right: 70px;

}
.headsets__containerright {
  display: block;
  width: 1300px;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  margin: auto;
  text-align: center;
  font-family: arial;
}
.card__description {
  padding: 10px;
}
.card > img {
width: 100%;
object-fit: contain;

}

.price {
  color: grey;
  font-size: 22px;
}

.card button {
  border: none;
  outline: 0;
  padding: 12px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

.card button:hover {
  opacity: 0.7;
}