.headsets {
  margin-top: 100px;

}

.headsets__container {
  display: flex;
  justify-content: center;

}

.card__container {
  display: grid;

  grid-template-columns: auto auto auto auto;

  padding: 20px;
  gap: 20px;
}

.headsets__optionsleft {
  margin-right: 70px;

}

.headsets__containerright {
  display: block;
  width: 1300px;
}

.card {
  color: black;
  padding: 10px;
  position: relative;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
height: 480px;
  text-align: center;
  font-family: arial;
  border-radius: 10px;
  transition: transform .2s;
  /* Animation */
}



.card__sales {
  overflow: hidden;
  position: absolute;
  width: 200px;
  height: 200px;
  top: -10px;
  right: -10px;
  overflow: hidden;


  /* background-color: black; */
}

.card__title {
  font-size: 15px;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;

}

.card__sales>p {
  position: absolute;
  text-decoration: none;
  width: 150px;
  padding: 5px;


  display: block;
  transform: rotate(45deg);
  top: 30px;
  right: -30px;

  background-color: palevioletred;
  color: white;
  font-size: 20px;
  text-transform: uppercase;
}

.card:hover {
  transform: scale(1.05);

}

.card__description {

  display: block;
  line-height: 1.2;
  font-size: 15px;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 4;
  display: -webkit-box;
  -webkit-box-orient: vertical;

}

.card>img {
  width: 100%;
  height: 300px;
  text-align: center;
  margin: 0 auto;
  display: block;


}

.price {
  color: black;
  font-size: 22px;
  margin: 10px 0;
}

.rating {
  display: flex;
  justify-content: center;
  text-align: center;
  color: #ff9f43;
}


.card button:hover {
  opacity: 0.7;
}

.pagination__container {
  display: flex;
}

.pagination__button {
  padding: 10px 30px;
  border-radius: 10px;
  border: none;
  background-color: #f0c14b;
  font-size: 20px;
  display: flex;
  text-align: center;
  margin: 10px;
}

.link {
  text-decoration: none;
}

.link:hover {
  text-decoration: none;
}

.card-wrapper {
  max-width: 1100px;
  margin: 90px auto;
  background-color: pink;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);

}



.individual__container {
  max-width: 1400px;

  position: relative;
  margin: 90px auto;
  padding: 15px;
  display: flex;
  border: 1px solid #E1E8EE;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.individualleft__column {
  min-width: 600px;

}
.individualleft__altimg {
  position: absolute;
  top: 0;
  left:-90px ;




}
.individualleft__altimgmini {
  width: 80px;


}
.individualleft__altimgmini img {
  width: 100%;

}
.individualleft__mainimg > img{
  width: 100%;
  max-height: 600px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}



/* Product Description */
.product__description {
  border-bottom: 1px solid #E1E8EE;
  margin-bottom: 20px;
}

.product__description span {
  font-size: 12px;
  color: #358ED7;
  letter-spacing: 1px;
  text-transform: uppercase;
  text-decoration: none;
}

.product__description h1 {
  font-weight: 500;
  font-size: 30px;
  margin: 20px 0;
  color: #43484D;
  letter-spacing: -2px;
  text-shadow: 2px 7px 5px rgba(0, 0, 0, 0.2),
    0px -4px 10px rgba(255, 255, 255, 0.2);
}

.product__rating {
  color: #f0c14b;
}

.product__description .product__info {
  margin-top: 20px;
  font-size: 16px;
  font-weight: 300;
  color: #86939E;
  line-height: 24px;
  color: black;


}

/*  */
/* * Cable Configuration */
.color-choose {
  display: flex;

}

.color-choose div {
  margin: 0 5px;
}
.product__category  {
  margin-top: 20px;
}
/*  */
.product__price {
display: flex;
margin-top: 30px;
font-size: 30px;



}
.product__price div  {
  margin-right: 20px;
}

.product__buy{

  margin-top: 50px;
}

.cart__btn {

  background-color: #f0c14b;
  border-radius: 6px;
  font-size: 16px;
  color: #FFFFFF;
  text-decoration: none;
  padding: 12px 30px;
  transition: all .5s;
 border: none;
}

.cart__btn:hover {
  cursor: pointer;
  background-color: #ff9f43;
}
.buy__btn {
margin-left: 40px;
  background-color: red;
  border-radius: 6px;
  font-size: 16px;
  color: #FFFFFF;
  text-decoration: none;
  padding: 12px 30px;
  transition: all .5s;
 border: none;
}
.relatedProduct {
  display: flex;
  flex-direction: column;
  justify-content: center;


text-align: center;
}