
.headsets{
 margin-top: 100px;

}
.headsets__container {
  display: flex;
  justify-content: center;

}
.section-card {
  display: grid;

  grid-template-columns: auto auto auto auto ;

  padding: 20px;
  gap: 20px;
}
.headsets__optionsleft {
  margin-right: 70px;

}
.headsets__containerright {
  display: block;
  width: 1300px;
}

.card {
  color:black;
  position: relative;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  margin: auto;
  text-align: center;
  font-family: arial;
  border-radius: 10px;
  transition: transform .2s; /* Animation */
}
.card__sales  {
  overflow: hidden;
  position: absolute;
  width: 200px;
  height: 200px;
  top: -10px;
  right: -10px;
  overflow: hidden;


  /* background-color: black; */
}
.card__sales > p  {
  position: absolute;
  text-decoration: none;
  width:150px;
  padding: 5px;


  display:block;
  transform: rotate(45deg);
  top: 30px;
  right:-30px;

  background-color: palevioletred;
  color: white;
  font-size: 20px;
  text-transform: uppercase;
}
.card:hover {
 transform: scale(1.05);

}
.card__description {
  padding: 10px;
  font-size: 20px;

}
.card > img {
width: 100%;
height: 300px;
text-align: center;
margin: 0 auto;
display: block;


}

.price {
  color:black;
  font-size: 22px;
  margin:10px 0;
}
.rating  {
  display: flex;
  justify-content: center;
  text-align: center ;
  color: #ff9f43;
}

/* .card button {
  border: none;
  outline: 0;
  padding: 12px;
  color: white;
  background-color: #f0c14b;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
} */

.card button:hover {
  opacity: 0.7;
}
.pagination__container {
  display: flex;
}
.pagination__button {
  padding: 10px 30px;
  border-radius: 10px;
  border: none;
  background-color: #f0c14b;
  font-size: 20px;
  display: flex;
  text-align: center;
margin : 10px;
}
.link {
 text-decoration: none;
}
.link:hover {
  text-decoration: none;
}

.card-wrapper{
  max-width: 1100px;
  margin: 100px auto;
  display: flex;;
}
img{
  width: 100%;
  display: block;
}
/* .img-display{
  overflow: hidden;
} */
/* .img-showcase{
  display: flex;
  width: 100%;
  transition: all 0.5s ease;
} */
/* .img-showcase img{
  min-width: 100%;
} */
.img-select{
  display: flex;
}
.img-item{
  margin: 0.3rem;
}
.img-item:nth-child(1),
.img-item:nth-child(2),
.img-item:nth-child(3){
  margin-right: 0;
}
.img-item:hover{
  opacity: 0.8;
}
.product-content{
  padding: 2rem 1rem;
}
.product-title{
  font-size: 3rem;
  text-transform: capitalize;
  font-weight: 700;
  position: relative;
  color: #12263a;
  margin: 1rem 0;
}
.product-title::after{
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 4px;
  width: 80px;
  background: #12263a;
}
.product-link{
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 0.9rem;
  display: inline-block;
  margin-bottom: 0.5rem;
  background: #256eff;
  color: #fff;
  padding: 0 0.3rem;
  transition: all 0.5s ease;
}
.product-link:hover{
  opacity: 0.9;
}
.product-rating{
  color: #ffc107;
}
.product-rating span{
  font-weight: 600;
  color: #252525;
}
.product-price{
  margin: 1rem 0;
  font-size: 1rem;
  font-weight: 700;
}
.product-price span{
  font-weight: 400;
}
.last-price span{
  color: #f64749;
  text-decoration: line-through;
}
.new-price span{
  color: #256eff;
}
.product-detail h2{
  text-transform: capitalize;
  color: #12263a;
  padding-bottom: 0.6rem;
}
.product-detail p{
  font-size: 0.9rem;
  padding: 0.3rem;
  opacity: 0.8;
}
.product-detail ul{
  margin: 1rem 0;
  font-size: 0.9rem;
}
.product-detail ul li{
  margin: 0;
  list-style: none;

  background-size: 18px;
  padding-left: 1.7rem;
  margin: 0.4rem 0;
  font-weight: 600;
  opacity: 0.9;
}
.product-detail ul li span{
  font-weight: 400;
}
.purchase-info{
  margin: 1.5rem 0;
}
.purchase-info input,
.purchase-info .btn{
  border: 1.5px solid #ddd;
  border-radius: 25px;
  text-align: center;
  padding: 0.45rem 0.8rem;
  outline: 0;
  margin-right: 0.2rem;
  margin-bottom: 1rem;
}
.purchase-info input{
  width: 60px;
}
.purchase-info .btn{
  cursor: pointer;
  color: #fff;
}
.purchase-info .btn:first-of-type{
  background: #256eff;
}
.purchase-info .btn:last-of-type{
  background: #f64749;
}
.purchase-info .btn:hover{
  opacity: 0.9;
}
.social-links{
  display: flex;
  align-items: center;
}
.social-links a{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 32px;
  color: #000;
  border: 1px solid #000;
  margin: 0 0.2rem;
  border-radius: 50%;
  text-decoration: none;
  font-size: 0.8rem;
  transition: all 0.5s ease;
}
.social-links a:hover{
  background: #000;
  border-color: transparent;
  color: #fff;
}
