.home {
  display: flex;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  max-width: 1500px;
}
.home__cardlayout{
  display: flex;
  z-index: 1;
  margin-left:5px;
  margin-right: 5px;
}

.cardone{
  display: flex;
  flex-direction: column;
  background-color: white;
justify-content: flex-end;
  margin:10px;
  width: 100%;
  max-height: 500px;
  min-height: 100px;
  z-index: 1;
  padding: 10px 30px;
  text-align: left;
 }
 .cardone__info {

 }
 .cardone  .cardone__img {
   max-height: 400px;
   width: 100%;
   object-fit: fill;

 }
 .cardone__title{
 font-size: 20px;
 font-weight: 600;
 margin: 20px 0;
 }

 .cardone > a {
 font-size: 15px;
 color:cadetblue;
 margin-top: 10px;
 margin-bottom: 10px;
 cursor: pointer;
 }
 a:hover {
 text-decoration: underline;
 }