.headsets{
  /* display: flex; */
  justify-content: center;
  margin-top : 60px;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  height: 100vh;


}
.headsets__toolbar{
  width: 100%;
  height: 30px;
  background-color: white;
  border-bottom: solid 1px black;
}
.headsets__container{
width: 100%;
padding: 0 100px;
display: flex;

}
.headsets__optionsleft {
  width: 60%;
}
.headsets__containerright {
  width: 100%;
}

