
.headsets{
 margin-top: 100px;

}
.headsets__container {
  display: flex;
  justify-content: center;

}
.card__container {
  display: grid;

  grid-template-columns: auto auto auto auto ;

  padding: 20px;
  gap: 20px;
}
.headsets__optionsleft {
  margin-right: 70px;

}
.headsets__containerright {
  display: block;
  width: 1300px;
}

.card {
  color:black;
  position: relative;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  margin: auto;
  text-align: center;
  font-family: arial;
  border-radius: 10px;
  transition: transform .2s; /* Animation */
}
.card__sales  {
  overflow: hidden;
  position: absolute;
  width: 200px;
  height: 200px;
  top: -10px;
  right: -10px;
  overflow: hidden;


  /* background-color: black; */
}
.card__sales > p  {
  position: absolute;
  text-decoration: none;
  width:150px;
  padding: 5px;


  display:block;
  transform: rotate(45deg);
  top: 30px;
  right:-30px;

  background-color: palevioletred;
  color: white;
  font-size: 20px;
  text-transform: uppercase;
}
.card:hover {
 transform: scale(1.05);

}
.card__description {
  padding: 10px;
  font-size: 20px;

}
.card > img {
width: 100%;
height: 300px;
text-align: center;
margin: 0 auto;
display: block;


}

.price {
  color:black;
  font-size: 22px;
  margin:10px 0;
}
.rating  {
  display: flex;
  justify-content: center;
  text-align: center ;
  color: #ff9f43;
}

/* .card button {
  border: none;
  outline: 0;
  padding: 12px;
  color: white;
  background-color: #f0c14b;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
} */

.card button:hover {
  opacity: 0.7;
}
.pagination__container {
  display: flex;
}
.pagination__button {
  padding: 10px 30px;
  border-radius: 10px;
  border: none;
  background-color: #f0c14b;
  font-size: 20px;
  display: flex;
  text-align: center;
  margin : 10px;
}
.link {
 text-decoration: none;
}
.link:hover {
  text-decoration: none;
}

.card-wrapper{
  max-width: 1100px;
  margin: 90px auto;
 background-color: pink;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);

}
.productdetail__card{
  padding : 20px;
  display: flex;
}
.productdetail__img {
  padding:20px;
  display: flex;
  justify-content: center;

  min-width: 500px;
  height: 500px;
  /* background-color:bisque; */
}
.productdetail__img > img{
  width: 100%;
  display: block;
  filter: drop-shadow(30px 10px 4px black );
}


.individual__container {
  max-width: 1200px;
  margin: 90px auto;
  padding: 15px;
  display: flex;
}
