.payment {
  width: 100%;
  margin: 60px 0;
  background-color: white;

}
.payment h1 {
  text-align: center;

}
.payment h1 a {
  text-decoration: none;
}
.payment__section {
  display: flex;
  padding:20px;
  margin: 0 20px;
  border-bottom: 1px solid lightgray;
}