.payment {
  width: 100%;
  margin: 60px 0;
  background-color: white;

}
.payment__container > h1 {

  text-align: center;

}
.payment h1 a {
  text-decoration: none;
}
.payment__section {
  display: flex;
  padding:20px;
  margin: 0 20px;
  border-bottom: 1px solid lightgray;
}
.payment__title  {
  flex:0.4;
}
.payment__address {
  flex: 0.6;
}
@media only screen and (max-width: 768px) {
  .payment__section {
    display: block;
    padding: 20px;
    margin: 0 20px;

}
   }
