* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}
body {
   background-color: rgb(234,237,237);
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif

}
.app-dark {
  background-color: #202124;
  color: #D6D6D7;
}
.app-light {
  background-color: rgb(234,237,237);
  color: black
}
.toggle-darkmode {
  position: fixed;
  top:95%;
  left:5%;
  z-index: 99999;
}