.home {
  display: flex;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  width: 1500px;
  max-width: 100%;
}
.home__cardlayout{
  display: flex;
  z-index: 1;
  margin-left:5px;
  margin-right: 5px;
}

@media  screen and (max-width: 768px) {
  .home__cardlayout {
    flex-direction: row;

  }

}