.home {
  margin-top: 55px;
  display: flex;
  margin: 0 auto;
  max-width: 1500px;

}
.home__container{
     max-width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;

}
.home__carousel {
  margin-top: 3%;
  padding: 0 1px;
  margin-bottom:-300px;
}
.carousel h4 ,.carouseltest h4{
  padding:10px 10px;
  box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%);

}
.home__cardlayout{
  display: flex;
}
.carousel,.carouseltest  {
 width: 100%;
 padding: 0 10px;
}
/* .carousel {
  box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%);
} */

@media only screen and (max-width: 768px) {
  .home {
    margin-top:0;
  }
  .home__cardlayout {
    flex-wrap: wrap;
    padding:0;
  }
  .home__carousel  {
    width: 100%;
    margin-top: 0;
     margin-bottom: -78px;
}


}