.loader {
  background-color:transparent;
  text-align:center;
  height: 50vh;
  display:flex;
  align-items:center;
  justify-content:center;
}
.loader h1 {
  color:white;
  font-family: 'arial';
  font-weight: 800;
  font-size: 4em;
}
.bullets{
  animation: dots 2s steps(3, end) infinite;
}

@keyframes dots {
  0%, 20% {
    color: rgba(0,0,0,0);
    text-shadow:
      .25em 0 0 rgba(0,0,0,0),
      .5em 0 0 rgba(0,0,0,0);}
  40% {
    color: white;
    text-shadow:
      .25em 0 0 rgba(0,0,0,0),
      .5em 0 0 rgba(0,0,0,0);}
  60% {
    text-shadow:
      .25em 0 0 white,
      .5em 0 0 rgba(0,0,0,0);}
  80%, 100% {
    text-shadow:
      .25em 0 0 white,
      .5em 0 0 white;}}
