.checkout {
  display: flex;
  padding: 20px;
  justify-content: flex-end;
  background-color:  white;
  /*  */
  height: max-content;
/*  */
}

.checkout__ad {
  margin-top: 60px;
width: 100%;
max-height: 100px;
}
.checkout__title {
  margin-right:  10px;
  padding: 10px;
  border-bottom:  1px solid lightgray;
}
.checkout__right {
  margin-top: 50px;

}