.home {
  display: flex;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  max-width: 1500px;
}
.home__row {
  display: flex;
  
}
.home__img {
  width: 100%;
  z-index: -100;
  margin-bottom: -150px;
  mask-image: linear-gradient(to bottom, rgba(0,0,0,1),rgba(0,0,0,0));
}