.login {
  background-color: white;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.login__logo {
  margin-top: 50px;
  object-fit: contain;
  width: 200px;
  margin-right: auto;
  margin-left: auto;
}
.login__container {
  width: 400px;
}
.login__containertop{
  margin-top: -50px;

  border: 1px solid black ;
  border-radius: 10px;
  padding: 30px;
  display: flex;
  flex-direction: column;
}
.login__input {
  margin-top: 10px;
  width: 100%;
  height: 30px;
  border-radius: 5px;
}
.login__button > button{
  margin-top: 15px;
  margin-bottom: 20px;
  width: 100%;
  padding:10px;
  border-radius: 5px;
  background: #f0c14b;
  font-size: 15px;

}
.login__text {
  font-size: 15px;

}
.login__help {
  margin-top: 10px;
  display:  flex;
  flex: 1;
  align-items: center;

}
.login__newtoamazone {
  text-align: center;
margin-top: 20px;
margin-bottom: 20px;
}
.login__buttontwo {
  width: 100%;
  padding: 15px;
  font-size: 15px;
  border-radius: 5px;

}
.login__ect {
  position: relative;
  z-index: 2;
  color:#767676;
  margin-top: 30px;
  list-style-type: none;
  display: flex;
  justify-content: space-around;
  padding-left: 20px;
  padding-right: 20px;


}
.login__ect: {
      content: "";
    width: 100%;
    background-color: transparent;
    display: block;
    height: 1px;
    border-top: 1px solid #e7e7e7;
    position: absolute;
    top: 50%;
    margin-top: -1px;
    z-index: 1;
}
}
.login__ect > li >a {
  text-decoration: none;
}


