.read-more {

  background-color: transparent;
  border: none;
  font-weight: 600;
  font-size: 15px;
  color: skyblue;
  cursor: pointer;

margin-left: 5px;
}
.show-more-less {
  font-size: 15px;
}
@media only screen and (max-width: 768px) {
  .show-more-less {
    font-size: 10px;
  }
}